name: DEPLOY-MS-VISITORS

on:
  push:
    branches:
      - main
    paths:
      - "ms-visitors/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Change to ms-visitors directory
        run: cd ms-visitors

      - name: Run tests
        run: cd ms-visitors && mvn clean test

      - name: Build application
        run: cd ms-visitors && mvn clean package -DskipTests

      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v4.0.3
        with:
          major_pattern: "mayor"
          minor_pattern: "feat"
          format: "${major}.${minor}.${increment}"
        id: version

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker login
        env:
          DOCKER_USER: ${{ secrets.DOCKER_USER }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

      - name: Build Docker Image
        env:
          PROJECT_NAME: ${{ secrets.MS_VISITORS_PROJECT_NAME }}
          NEW_VERSION: ${{ steps.version.outputs.version }}
        run: |
          cd ms-visitors
          docker build -t $PROJECT_NAME:$NEW_VERSION .
          docker build -t $PROJECT_NAME:latest .

      - name: Push Docker Image
        env:
          PROJECT_NAME: ${{ secrets.MS_VISITORS_PROJECT_NAME }}
          NEW_VERSION: ${{ steps.version.outputs.version }}
        run: |
          docker push $PROJECT_NAME:$NEW_VERSION
          docker push $PROJECT_NAME:latest